body {
	padding: 0px;
	margin: 0px;
}
header {
	margin-top: -20px;
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.514);
        z-index: 1;
    }
}
@media (pointer: coarse) and (hover: none) {
	header {
		background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
		video {
			display: none;
		}
	}
}

.icon-section {
	width: 60px;
}
.btn-cta {
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	border-width: 0;
	box-sizing: border-box;
	color: #F26322 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 20px;
	margin: 0;
	padding: 14px 34px !important;
	position: relative;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	width: auto;
	opacity: 1;
	&:hover {
		text-decoration: none;
		opacity: 0.94;
		color: #ff8f5c;
	}
}

.hero-logo {
	width: 250px;
}

.castle-pattern {
	background-image: url(https://res.cloudinary.com/the-peacock/image/upload/v1615462438/pattern.svg) !important;
	background-position: 50% 100%;
	background-repeat: no-repeat no-repeat;
	background-size: 100vw;
	box-sizing: border-box;	
}
