
.top-page {
    background-color: #5c4646;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(https://uploads-ssl.webflow.com/5ff5f43f09c4f34c9c325e38/6048d40bfb2864da3f7d4e36_toppage.jpg);
    background-position: 0,50% 0,50%;
    background-repeat: repeat,no-repeat repeat,no-repeat;
    background-size: auto,cover;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 150px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
