// var nice-orange = #e67e22, #f07338 #c15522 #f07338cc;

// Sign UP & REgister Form
.sign-up {
  min-width: 30vw !important;
  max-width: 500px;
  background-color: white;
  border-radius: 25px;
  padding: 25px 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #c15522;
}

.form-control {
  background-color: #f0733833;
  border-color: #c15522;
}

// Sign In button
.btn-lg {
  background-color: #c15522f7;
  cursor: pointer;
  border: 1px solid #ad410e;;
  border-radius: 25px;
  width: 170px;
  margin: 30px auto;
}

.btn-lg:hover {
  background-color: #ad410e;
  border: 1px solid #ad410e;
  font-size: x-large;
}

  // width of login button
input.btn-block[type="submit"] {
  width: 50%;
}

// 6 charcters minimum
.form-text.text-muted {
    color: #c15522 !important;
}

// Links to Log In or Register
.sign-up > a {
    color: #c15522;
    text-decoration: none;
    background-color: transparent;
}

.sign-up > a:hover {
  color: #ad410e;
  font-size: larger;
}



