@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


body {
    background-color: whitesmoke;
}
.custom-container {
    position: relative !important;
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    margin-top: -50px;
}

.price-tag {
    position: absolute !important;
    top: 10px;
    right: 10px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 100px;
    width: auto;
}

.back-to {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
    border-radius: 100px;
    background-color:white;
    box-shadow: 10px 5px 5px lightgrey;
    padding: 10px;
    padding-right: 20px;
    &:hover{
        box-shadow: 10px 5px 5px lightgrey;
    }
}

.back-to > img {
    width: 20px;
    margin: 5px;
}

body > div.back-to > a {
    color:black !important;
    &:hover{
        text-decoration: none;
    }
}
.text-center {
  text-align: center;
}

.dates {
  font-size: 28px;
  font-style: italic;
}

#reservation-title {
  padding-bottom: 50px;
  font-size: 70px;
}

.letter {
  // font-family: 'Italianno', cursive;
  margin-top: 100px;
  color: #202588;

}

.img-castle {
    width: 100%;
    height: 50vh;
    background-color: white;
    margin-top: -30px;
}

.links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
}

.back-to-link {
  color: black;
}
