

<!--Footer-->
<footer class="container-fluid py-5 footer-custom">
      <div class="row">
        <div class="col-12 col-md">
        <img src="https://res.cloudinary.com/the-peacock/image/upload/v1615464606/footer-logo_jkfb7d.png" style="footer-logo">
          <small class="d-block mb-3 text-muted">©2021 Castlevania - Made by Lewagon558 - Unotes</small>
        </div>
        <div class="col-6 col-md nav-sec">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">How it works</a></li>
            <li><a class="text-muted" href="#">Newsroom</a></li>
            <li><a class="text-muted" href="#">Investors</a></li>
            <li><a class="text-muted" href="#">Careers</a></li>
            <li><a class="text-muted" href="#">Services</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Navigation</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Home</a></li>
            <li><a class="text-muted" href="#">Castles</a></li>
            <li><a class="text-muted" href="#">Become a seller</a></li>
            <li><a class="text-muted" href="#">Castle VIP</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Le Wagon Bootcamp</a></li>
            <li><a class="text-muted" href="#">Codeacademy</a></li>
            <li><a class="text-muted" href="#">Teamtreehouse</a></li>
            <li><a class="text-muted" href="#">Udemy</a></li>
          </ul>
        </div>

      </div>
    </footer>
<!--Footer end-->
