<header>
  <div class="overlay castle-pattern"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/the-peacock/video/upload/v1615478777/bg-castlevania_qmgff2.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
  <%= link_to "Login", new_user_session_path, class: "login-cta" %>
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <img src="https://res.cloudinary.com/the-peacock/image/upload/v1615462437/logo-white.png" class="hero-logo">
        <h1 class="display-3">Make your dream comes true</h1>
        <p class="lead mb-3">Discover the best Castles to rent all around the world </p>
        <%= link_to "Discover our exclusive Castles", properties_path, class: "btn-cta mt-3" %>
      </div>
    </div>
  </div>
</header>

