<header>
  <div class="overlay castle-pattern"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/the-peacock/video/upload/v1615478777/bg-castlevania_qmgff2.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
  <%= link_to "Login", new_user_session_path, class: "login-cta" %>
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <img src="https://res.cloudinary.com/the-peacock/image/upload/v1615462437/castlevania/logo-white.png" class="hero-logo">
        <h1 class="display-3">Make your dream comes true</h1>
        <p class="lead mb-3">Discover the best Castles to rent all around the world </p>
        <%= link_to "Discover our exclusive Castles", properties_path, class: "btn-cta mt-3" %>
      </div>
    </div>
  </div>
</header>



<!--Footer-->
<footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
        <img src="https://res.cloudinary.com/the-peacock/image/upload/v1615464606/footer-logo_jkfb7d.png">
          <small class="d-block mb-3 text-muted">©2021 Castlevania - Made by Lewagon558 - Unotes</small>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">How it works</a></li>
            <li><a class="text-muted" href="#">Newsroom</a></li>
            <li><a class="text-muted" href="#">Investors</a></li>
            <li><a class="text-muted" href="#">Careers</a></li>
            <li><a class="text-muted" href="#">Services</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Navigation</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Home</a></li>
            <li><a class="text-muted" href="#">Castles</a></li>
            <li><a class="text-muted" href="#">Become a seller</a></li>
            <li><a class="text-muted" href="#">Castle VIP</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Le Wagon Bootcamp</a></li>
            <li><a class="text-muted" href="#">Codeacademy</a></li>
            <li><a class="text-muted" href="#">Teamtreehouse</a></li>
            <li><a class="text-muted" href="#">Udemy</a></li>
          </ul>
        </div>

      </div>
    </footer>
<!--Footer end-->
